.image-editor {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

canvas[data-theme="light"] {
  border: 1px solid var(--lb-secondary);
}

canvas[data-theme="dark"] {
  border: 1px solid var(--db-secondary);
}

label {
  text-transform: capitalize;
}

.form-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
