.image-editor {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
  position: relative;
}

canvas[data-theme="light"] {
  border: 1px solid var(--lb-secondary);
}

canvas[data-theme="dark"] {
  border: 1px solid var(--db-secondary);
}

label {
  text-transform: capitalize;
}

.form-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  gap: 0.5rem;
}

.message {
  position: absolute;
  left: 1rem;
  top: 2rem;
}
