@import "@penpot/plugin-styles/styles.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

input[data-theme="light"] {
  accent-color: var(--la-primary);
}
input[data-theme="dark"] {
  accent-color: var(--da-primary);
}

.range {
  padding-inline: 0;
  margin-top: -0.125rem;
}

input[type="color"] {
  padding: 0.125rem;
}

.reset {
  border-radius: 100%;
}
